name: Cloud Shipping Bot

on:
  schedule:
    - cron: '*/15 * * * *'  # تشغيل تلقائي كل 30 دقيقة
  workflow_dispatch:      # زر تشغيل يدوي

jobs:
  run-cloud-bot:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Libraries
        run: |
          pip install -r requirements.txt
          playwright install chromium

      - name: Run Bot Script
        env:
          # قراءة الأسرار من إعدادات المستودع
          FIREBASE_CREDENTIALS: ${{ secrets.FIREBASE_CREDENTIALS }}
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: python main.py
